@model IEnumerable<Palesteeny_Project.Models.ExerciseOption>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OptionQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseQuestion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OptionQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseQuestion.ExerciseQuestionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExerciseOptionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExerciseOptionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExerciseOptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
