@model Palesteeny_Project.Models.Drawing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Drawing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Template)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Template.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrushType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrushType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DrawingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
