@model IEnumerable<Palesteeny_Project.Models.ExerciseMatch>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OptionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchLabel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseQuestion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OptionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchLabel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseQuestion.ExerciseQuestionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExerciseMatchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExerciseMatchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExerciseMatchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
